{% extends "base.twig" %}
{% block content %}
  <div class="starter-template">
    <h1>Welcome {{ username }}</h1>
    {# <h2>User ID =  {{ user_id }}</h2> #}
    {# <h2>Project :  {{ dump(projects) }}</h2> #}
    <h3>{{ projects[0]['Name'] }}</h3>
    {# <h3>Date :  {{ dump(item) }}</h3> #}
    <h4>{{ items[0]['Date'] }}</h4>
    <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <td>Category</td>
          <td>Name</td>
          <td>Price (in Rp.)</td>
        </tr>
      </thead>
      <tbody>
      {% for item in items %}
          {# {{ dump(item )}} #}
          <tr>
            <td>{{item['Category']}}</td>
            <td>{{item['Name']}}</td>
            <td>{{item['Price']}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </div>

{% endblock %}