{% extends 'base.twig' %}
{% block content %}
<div class="starter-template">
   <h1>Keep in touch with us</h1>
</div>
<form action="#" method="post">
    {{ form_widget(form) }}
    <br>
    <input type="submit" name="submit" class="form-control" value="Submit"/>
</form>
{% endblock %}
