{% extends "base.twig" %}
{% block content %}
  <div class="starter-template">
    <h1>Choose Your Components</h1>
  </div>
  <form action="form" method="post">
  {# If entered Project Name, show this #}
  {% if form_project is defined %}
    {{ form_start(form_project) }}
            {{ form_widget(form_project) }}
            <br>
            <input type="submit" name="submit" class="form-control"/>
    {{ form_end(form_project) }}
  {% endif %}
  </form>
  {# If entered List Item, show this #}
  {% if form is defined %}
  {# <div class="hidden"> #}
    <form action="form/result" method="post">
    {{ form_start(form) }}
            {{ form_widget(form) }}
            {# {{ form_widget(form_project_id) }} #}
            <br>
            <input type="submit" name="submit" class="form-control"/>
    {{ form_end(form) }}
    </form>
  {# </div> #}
  {% endif %}
{% endblock %}