{% extends "base.twig" %}
{% block content %}
  <div class="starter-template">
    <h1>Well, please login</h1>
  </div>
  <form action="login/result" method="post">

  {{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <input type="submit" name="submit" class="form-control" value="Login"/>
  {{ form_end(form) }}
  </form>
{% endblock %}