{% extends "base.twig" %}
{% block css %}
  <link href="../assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">

  <!-- Custom styles for this template -->
  <link href="../assets/css/starter-templates.css" rel="stylesheet">
{% endblock %}
{% block content %}
  {% set total = "Total" %}
  <div class="starter-template">
    {# {{ dump(request) }} #}
    {% if project_name is empty %}
      <h3>Whoops :D </h3>
    {% else %}
      <h3>{{ project_name }}</h3>
      {# <h3>Date :  {{ dump(item) }}</h3> #}
      <h4>{{ items[0]['Date'] }}</h4>
      <div class="table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <td>Category</td>
            <td>Name</td>
            <td>Price (in Rp.)</td>
          </tr>
        </thead>
        <tbody>
        {% for item in items %}
            {# {{ dump(item )}} #}
            <tr>
              {% if item['Category'] == total %}
                <td><strong>{{item['Category']}}</strong></td>
              {% else %}
                <td>{{item['Category']}}</td>
              {% endif %}              
              <td>{{item['Name']}}</td>
              {% if item['Category'] == total %}
                <td><strong>{{item['Price']}}</strong></td>
              {% else %}
                <td>{{item['Price']}}</td>
              {% endif %}
            </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
    {% endif %}
  </div>
{% endblock %}
{% block js %}
<script src="../assets/bower_components/jquery/jquery.min.js"></script>
<script src="../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../assets/js/holder.js"></script>
{% endblock %}