{% extends 'base.twig' %}
{% block content %}
  <div class="starter-template">
    <h1>Well, please Register</h1>
  </div>
  <form action="login" method="post">

  {{ form_start(form_registration) }}
    {{ form_widget(form_registration) }}
    <br>
    <input type="submit" name="submit" class="form-control" value="Register"/>
  {{ form_end(form_registration) }}
  </form>
{% endblock %}